* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    min-height: 100vh;
}

.wrapper {
    width: 420px;
    background:	transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);

    color:#f2f2f2;
    border-radius: 10px;
    padding: 30px 40px ;
    margin-top: -330px;
    
    
}

.wrapper h2 {
    font-size: 36px;
    text-align: center;
}


/* Styles for the form container */
#medicineForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
}

/* Styles for form labels */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #109de9;
}

/* Styles for form input fields */
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #109de9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover effect for the submit button */
input[type="submit"]:hover {
    background-color: #45a049;
}

/* Styles for the form div container */
div {
    margin-bottom: 16px;
}