{% extends 'layout/app-layout.html' %}
{% load static %}

{% block 'content' %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="wrapper">
  <form method="post">
      <h1>Sign Up</h1>
      {% csrf_token %}
      <div class="input-box">
          <input type="text" name="{{ form.username.name }}" placeholder="Username" required>
          <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
          <input type="password" name="{{ form.password1.name }}" placeholder="Password" required>
          <i class='bx bxs-lock-alt'></i>
      </div>
      <div class="input-box">
          <input type="password" name="{{ form.password2.name }}" placeholder="Confirm Password" required>
          <i class='bx bxs-lock-alt'></i>
      </div>

      <button type="submit" class="btn">Sign Up</button>
  </form>
</div>
{% endblock %}